<p>customer-header works!</p>
<div class="topnav">
    <!-- <a routerLink="/createUser" routerLinkActive="active">Create Account</a>
    <a routerLink="/openAccount" routerLinkActive="active">Open Account</a> -->
    <div>
        <button type="button" class="btn btn-secondary" (click)="onPersonalDetailsClick()">Personal Details</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" (click)="onFundTransferClick()">Fund Transfer</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" (click)="onMiniStatementClick()">Mini Statement</button>
    </div>
    <div> <button type="button" class="btn btn-secondary" (click)="onDetailStatementClick()">Details
            Statement</button>
    </div>