<div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-primary btn-md center-block" Style="width: 100px;"
        (click)="onHomeClick()">Home</button>


    <button type="button" class="btn btn-primary btn-md center-block" Style="width: 100px;"
        (click)="onFundTransferClick()">Fund Transfer</button>


    <button type="button" class="btn btn-primary btn-md center-block" Style="width: 100px;"
        (click)="onMiniStatementClick()">Mini Statement</button>

    <button type="button" class="btn btn-primary btn-md center-block" Style="width: 100px;"
        (click)="onDetailStatementClick()">Detailed Statement</button>
    
        <button type="button" class="btn btn-primary btn-md center-block" Style="width: 100px;"
        (click)="onUpdateDetailsClick()">Update Personal Details</button>
    </div>
</div>