<div role="main">


    <div>
        <div *ngIf="this.adminService.isAccountUpdated">
          <span>{{this.accountUpdated}}</span>
        </div>
        <div style="display: flex;" *ngIf="!this.adminService.isAccountUpdated">
            <div class="Hanu">
              <div  class="search-container">
                <label for="search" style="width: 250px;padding: 6px;">User ID:</label>
                <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchId" id="search">
                <button type="submit" (click)="onSearchClick()"><i class="fa fa-search"></i></button>
              </div>

              <!-- <div *ngIf="this.displayForm"> -->
                  <form  [formGroup]="updateAccountForm" (ngSubmit)="onSubmit(updateAccountForm)">

                    <div class="form-group" style="display: flex;">
                        <label for="accountId" style="width: 250px;padding: 6px;">Account ID</label>
                        <input type="text" class="form-control" id="name" formControlName="accountId">
                    </div>

                    <div class="form-group" style="display: flex;">
                        <label for="city" style="width: 250px;padding: 6px;">Amount</label>
                        <input type="number" class="form-control" id="City" formControlName="transAmt" placeholder="">
                    </div>

                    <div class="form-group" style="display: flex;">
                      <label for="transtype">Transaction Type</label>
                      <select class="form-control" formControlName="transtype" id="transtype">
                        <option value="WITHDRAWAL">WITHDRAWAL</option>
                        <option selected value="DEPOSIT">DEPOSIT</option>
                      </select>
                    </div>

                    <div class="form-group" style="display: flex;">
                        <label for="remarks" style="width: 250px;padding: 6px;">Remarks</label>
                        <input type="text" class="form-control" id="remarks" formControlName="remarks" placeholder="">
                    </div>

                    <div class="form-group" style="display: flex;">
                        <label for="chequeNumber" style="width: 250px;padding: 6px;">chequeNumber</label>
                        <input type="number" class="form-control" id="chequeNumber" formControlName="chequeNumber"  placeholder="">
                    </div>

                    <button type="submit" class="btn btn-primary">Update Account</button>
                  </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
