<nav class="navbar" id="main">
  <!-- <a routerLink="/createUser" routerLinkActive="active">Create Account</a>
  <a routerLink="/openAccount" routerLinkActive="active">Open Account</a> -->

  <button type="button" class="btn btn-secondary" (click)="onCreateUserClick()">Create User</button>
  <button type="button" class="btn btn-secondary" (click)="onCreateAccountClick()">Create Account</button>
  <button type="button" class="btn btn-secondary" (click)="onUpdateAccountClick()">Update Account</button>
  
</nav>
