<p>Proceed to transfer amount</p>

<div role="main">
  <div *ngIf="this.customerService.isTransferred">
    <span>{{this.transferMsg}}</span>
  </div>

    <div>
        <div style="display: flex;" *ngIf="!this.customerService.isTransferred">
            <div class="Hanu">
                <form [formGroup]="fundTransferForm" (ngSubmit)="onSubmit(fundTransferForm)">

                    <div class="form-group" style="display: flex;">
                        <label for="fromAccount" style="width: 250px;padding: 6px;">From Account</label>
                        <input type="text" class="form-control" id="fromAccount" formControlName="fromAccount" disabled>
                    </div>

                    <div class="form-group" style="display: flex;">
                      <label for="toAccount">To Account</label>
                      <select class="form-control" formControlName="toAccount" id="toAccount">
                        <option *ngFor="let account of accounts" [value]="account.accountid">{{account.accountid}}</option>
                      </select>
                    </div>

                    <div class="form-group" style="display: flex;">
                        <label for="amount" style="width: 250px;padding: 6px;">Amount</label>
                        <input type="number" class="form-control" id="amount" formControlName="amount"  placeholder="">
                    </div>

                    <button type="submit" class="btn btn-primary text-center">Transfer</button>

                </form>
            </div>
        </div>
    </div>
</div>
